body {
  background-color: #343a40;
  color: #f8f9fa;
  margin: 0 auto;
  background: url("../public/background-cc.png");
}
h1,
label,
.btn {
  color: #e5e9ec;
}
.modal-content {
  background-color: #495057;
  color: #f8f9fa;
}

.btn-primary {
  background-color: #000000;
  border-color: #ed145b;
  color: #ed145b;
  border-radius: 2px;
  min-width: 100px;
  margin: 20px 0;
}

.btn-primary:hover {
  background-color: #ed145b;
  border-color: #ed145b;
  color: #000000;
}

.btn-primary:active {
  background-color: #ed145b !important;
  border-color: #ed145b !important;
  color: #000000;
}

.btn-primary:focus {
  background-color: #ed145b !important;
  border-color: #ed145b !important;
  color: #000000;
}
